{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/board.css') }}">

<script src="{{ url_for('static', filename='js/board.js') }}"></script>
{% endblock %}

{% block body %}
<div class="row">
    {% for board in boards %}
    <div class="boards col-md-3 col-sm-6 col-xs-18">
        <div class="board normal" id="board{{board.id}}" role="alert">
            <p>{{ board.name }}</p>
        </div>
    </div>
    {% endfor %}

    <div class="boards col-md-3 col-sm-6 col-xs-18">
        <div class="board new_board" data-toggle="modal" data-target="#myModal">
            <p>Create new board</p>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create new board</h4>
            </div>
            <form action="/board/" method="post">
                <div class="modal-body">
                    <label for="name">Title</label>
                    <input type="text" name="name" id="name" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
