{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/board_page.css') }}">
<script src="{{ url_for('static', filename='js/board_page.js') }}"></script>
{% endblock %}

{% block body %}
<div class="main_board">

    {% for list in lists %}
    <div class="list" id="list{{ list.id }}">
        <div class="head">
            <h4>{{ list.name }}<span class="delete" id="delete_list{{ list.id }}">X</span></h4>
        </div>
        <div class="main">
            {% for card in list.get_cards_by_list_id(list.id) %}
                <div class="card" id="card{{ card.id }}">
                    <p><span class="delete" id="delete_card{{ card.id }}">X</span></p>
                    <p class="content">{{ card.content }}</p>
                </div>
            {% endfor%}
        </div>
        <div class="add">
            <form action="/card/" method="post" class="add_card">
                <input class="add_card" type="text" name="list_id" value="{{ list.id }}">
                <input class="content" type="text" name="content" id="content" placeholder="Append a card...">
                <input class="add" type="submit" value="Add card">
            </form>
        </div>
    </div>
    {% endfor %}

    <div class="list">
        <form action="/list/" method="post" class="add_list">
            <input type="text" name="name" required>
            <input type="submit" value="Add list">
        </form>
    </div>

</div><!--div.main_board-->
{% endblock %}
