{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/board_page.css') }}">
<script src="{{ url_for('static', filename='js/board_page.js') }}"></script>
{% endblock %}

{% block body %}
<div class="main_board">

    {% for list in lists %}
    <div class="list">
        <div class="head">
            <h4>{{ list.name }}<span class="delete" id="list{{ list.id }}">X</span></h4>
        </div>
        <div class="main">
            {% for card in list.get_cards_by_list_id(list.id) %}
                <div class="card">
                    <p class="content">{{ card.content }}</p>
                </div>
            {% endfor%}
        </div>
        <div class="add">
            <form action="/card/{{list.id}}/" method="post" id="add_card">
                <input class="content" type="text" name="content" id="content" placeholder="Append a card...">
                <input class="add" type="submit" value="Add card">
            </form>
        </div>
    </div>
    {% endfor %}

    <div class="list">
        <div class="head">
            <h4></h4>
        </div>
        <div class="main">
        </div>
        <div class="add">
            <form action="/list/" method="post" id="add_list">
                <input type="text" name="name" required>
                <input type="submit" value="Add list">
            </form>
        </div>
    </div>

</div><!--div.main_board-->
{% endblock %}
