{% extends "layout.html" %}

{% block body %}
<form action="signup" method="post">
    <div>
        <label for="netid">NetID</label>
        <input type="text" name="netid" id="netid" required>
    </div>
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
    </div>
    <div>
        <input type="submit" value="Sign up">
    </div>
</form>
{% endblock %}
